<header id="home">
    <nav class="navbar navbar-expand-md navbar-dark  ">
        <a class="logo" href="">{{ title }}</a>
        <a href="#"></a>



        <div class="collapse navbar-collapse justify-content-end menu" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-right justify-content-end">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only ">(atual)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Our Stoty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="hamburger">
            <div></div>
        </div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li>
                            <a class="nav-link" href="#">Home <span class="sr-only ">(atual)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Our Stoty</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="main-text">
        <h1>Welcome</h1>
        <h2>{{ title }}</h2>
        <a href="#" class="btn main-btn">Explore</a>
    </div>
</header>