<section class="contact-us" id="contact">
    <div class="container">
        <h1 class="custom-font">Contact</h1>
        <h2 class="custom-font-secondary">Br</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi temporibus qui distinctio fugit ut quod fuga mollitia atque corrupti dicta similique aspernatur consequatur quisquam fugiat, cum culpa, nam sapiente facere.</p>
        <form action="">
            <input type="text" class="input" placeholder="Full Name" name="name" required>
            <input type="text" class="input" placeholder="E-mail" name="email" required>
            <textarea name="message" class="text-area" placeholder="What can we help you with?"></textarea>
            <input type="submit" class="input btn-submit">
        </form>
    </div>
</section>