$main-font-color: #f2b632;
$main-white: #fff;
$main-font-dark-gray: #4d4d4d;
$main-footer-bg-color: #141414;
$main-font-family: "Cheddar Jack",
cursive;
.contact-us form {
    width: 100%;
    min-width: 9rem;
    margin-top: 5rem;
}

input,
.text-area {
    width: 100%;
    max-width: 100%;
    margin: 5px 0;
    padding: 5px 1rem;
    border-radius: 3px;
    font-size: 1.5rem;
    border: 1px solid $main-font-color;
    color: #878787;
}

input::placeholder,
.text-area::placeholder {
    color: #878787;
}

.text-area {
    height: 10rem;
}

.btn-submit {
    background-color: $main-font-color;
    color: $main-white;
    width: 100%;
    padding: 1rem 0;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #e1aa2f;
}