$main-font-color: #f2b632;
$main-white: #fff;
$main-font-dark-gray: #4d4d4d;
$main-footer-bg-color: #141414;
$main-font-family: "Cheddar Jack",
cursive;
.store {
    width: 100%;
    min-height: 30rem;
    background: url("../../assets/img/store.jpeg") center no-repeat;
    background-size: cover;
}